<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/input.css">
</head>
<body>
    <div class="ConteudoGeral">
        <h1>Detecção de algarismo com Rede Neural Convolucional</h1>
        <h2>Insira aqui a imagem com número para ser analisada pela IA:</h2>

        <button onclick="location.href = '/input_nn';">Trocar para Rede Neural Linear</button>

        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="imgInput">
            <button type="submit">ENVIAR</button>
        </form>

        {% if prediction is not none %}
            <h3>Predição: {{ prediction }}</h3>
        {% endif %}
    </div>
</body>
</html>
